.container {
    flex: 1;

    display: flex;
    flex-direction: row;

    overflow: hidden;
}

.stats {
    width: 33%;
    min-width: 300px;
    max-width: 400px;
    border-left: 1px solid #eee;
    overflow: auto;
}
