.header {
    height: 64px;
    line-height: 64px;
    color: white;
    display: flex;

    background: #3023AE;
    background-image: linear-gradient(134deg, #3023AE, #C86DD7);
}

.logo {
    display: inline-block;
    width: 64px;
    height: 64px;
    text-align: center;
    border-right: 1px solid rgba(0,0,0,.1);
}

.logo img {
    vertical-align: middle;
}

.title {
    display: inline-block;

    font-size: 26px;
    padding-left: 20px;
    font-weight: 300;
}
