.fact + .fact {
    margin-top: 4px;
}

.traitedFact {
    composes: fact;

    color: #3023AE;
}

.fact img {
    vertical-align: -1px;
    margin-right: 4px;
}

.description {
    margin-left: 20px;
    color: #555;
}
