.component {
    display: flex;
    margin-bottom: 4px;
    width: 326px;
}

.bar {
    flex: 1;
    line-height: 16px;
    align-self: center;
}

.bar > span {
    border: 1px solid #6c3c06;
    display: inline-block;
    width: 100px;
    margin-right: 8px;
    height: 16px;
}

.bar > span:first-child {
    background: linear-gradient(to right, #f2eb88, #e5c74e);
}
.bar > span:last-child {
    background: linear-gradient(to right, #e3c040, #d8962d);
}
