.line {
    display: flex;
    align-items: center;
    position: relative;
    width: 647px;
    height: 136px;
    margin: 2px auto;
}

.background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
}

.backgroundEmpty {
    composes: background;
    background: url(../img/specialization-empty.png);
}

.backgroundImage {
    composes: background;
    background-position: bottom left;
}

.backgroundHover {
    composes: background;
    background: black;
    opacity: 0.5;
    transition: opacity 500ms;
}

.line:hover .backgroundHover {
    opacity: 0;
}

.backgroundOverlay {
    composes: background;
    background: url(../img/specialization-overlay.png);
}

.backgroundEliteOverlay {
    composes: background;
    background: url(../img/specialization-elite-overlay.png);
}

.backgroundIcon {
    composes: background;
}

.arrow {
    display: flex;
    align-items: center;
    margin-right: 152px;
    width: 16px;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 10;
}

.arrow > svg {
    margin-left: 3px;
    fill: #d8cf62;
}

