{
  "plugins": [
    "lodash",
    "transform-class-properties",
    [
      "react-intl",
      {
        "messagesDir": "./temp/messages/",
        "enforceDescriptions": true
      }
    ]
  ],
  "presets": ["es2015", "react", "stage-3"]
}
