.character-panel {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .tab-container-headers {
    background: lightgreen; // TODO: Remove later
    height: 40px;
    margin: 0 220px;
  }

  .tab-container-active-tab {
    background: lightpink; // TODO: Remove later
    position: absolute;
    top: 40px;
    bottom: 0;
    left: 0;
    right: 220px;
  }
}
