doctype html
html
    head
        title= title
        link(rel="stylesheet", href=css("app.css"))
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:300&text=GW2 Builds")
    body
        block content
        script(src=js("app.js"))
