.select {
    composes: input from '../Inputs.module.css';

    position: relative;
    display: inline-block;

    min-width: 125px;

    border: 1px solid #eee;
    border-radius: 3px;
    padding: 10px 26px 10px 10px;
    margin: 0;

    background: #f9f9f9;

    cursor: pointer;
}

.select:hover {
    border-color: #ddd;
}

.select:focus {
    outline: none;
    border-color: #2196F3;
}

.select:after {
    content: '';
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -2px;
    border-style: solid;
    border-color: #ccc transparent transparent;
    border-width: 6px 4px 0;
    pointer-events: none;
}

.disabled {
    composes: select;

    cursor: default;
    color: #444;
}

.disabled:after {
    border-top-color: #e4e4e4;
}

.dropdown {
    position: fixed;
    top: 20px;
    left: 20px; right: 20px;
    max-height: calc(100% - 40px);
    box-shadow: 0 0 0 100vmax rgba(0,0,0,.1), 0 1px 40px rgba(0,0,0,.2);
    z-index: 44;
    background: #fff;

    overflow: hidden;
    display: flex;
    flex-direction: column;

    animation: dropdown .1s ease-out;
}

.options {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior: contain;
    flex: 1;
    flex-basis: auto;
}

@keyframes dropdown {
    from { opacity: 0; }
}

.dropdown .option {
    padding: 16px;
    transition: background .1s ease;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.dropdown .option:hover {
    background: #f4f4f4;
}

.option + .option {
    border-top: 1px solid #eee;
}

.disabledOption {
    composes: option;
}

.dropdown .disabledOption {
    cursor: default;
    background: #fafafa;
    color: #acb4b9;
}

.dropdown .disabledOption:hover {
    background: #f9f9f9;
}

.dropdown .activeOption {
    color: #3023AE;
}

.dropdown .activeOption:before {
    content: '';
    display: block;
    position: absolute;
    left: 7px;
    top: calc(50% - 2px);
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background: #3023AE
}

.dropdown .highlightOption {
    background: #F3F2FF;
}

.group {
    position: relative;
}

.groupLabel {
    padding: 16px;
    background: #f9f9f9;
    font-weight: bold;
    position: sticky;
    top: 0;
}

:global(.js-select-disable-scroll) body {
    overflow: hidden;
}

.filter {
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 3;
    padding: 8px;
    box-shadow: 0 0 3px rgba(0,0,0,.2);
}

.filterInput {
    composes: input from '../Inputs.module.css';

    padding: 8px;
    border: 1px solid #eee;
    width: 100%;
    box-sizing: border-box;
}
