.row {
    padding: 4px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 45px;
    box-sizing: border-box;
}

.row + .row {
    border-top: 1px solid #eee;
}

.icon {
    width: 48px;
    height: 48px;
    display: inline-block;
    border: 2px solid #f4f4f4;
    background: #f9f9f9;
    vertical-align: middle;
    margin-right: 8px;
}

.header {
    min-width: 250px;
    max-width: 100%;
}

.attributes {
    flex: 1;
    justify-content: flex-end;
    display: flex;
}

.attribute {
    padding: 0 16px;
    text-align: center;
    max-width: 160px;
    flex: 1;
    flex-basis: 100px;
}

.attribute:first-child {
    padding-left: 0;
}
.attribute:last-child {
    padding-right: 0;
}

.attribute + .attribute {
    border-left: 1px solid #eee;
}
.attribute > span:first-child {
    display: block;
}
.attribute > span:last-child {
    display: block;
    font-size: 12px;
    color: #777777;
}

.exotic {
    color: #ffa405;
}

.ascended {
    color: #fb3e8d;
}

.editButton {
    composes: input from '../Inputs/Inputs.css';
}

.editButton > img {
    width: 14px;
    vertical-align: -2px;
}
