.button {
    /* reset default button styles */
    font: inherit;
    border: none;
    background-color: #fafafa;


    border-radius: 16px;
    height: 32px;
    line-height: 32px;
    padding: 0 15px;
    margin: 0 6px 6px 0;
    display: inline-block;
    cursor: pointer;
}

.button:hover {
    background-color: #f4f4f4;
}

.active {
    composes: button;

    background-color: #eee;
}

.button img {
    vertical-align: middle;
    margin: 0 4px 0 -8px;
}
