.header {
    height: 64px;
    line-height: 64px;
    color: white;
    display: flex;

    user-select: none;

    background: #3023AE;
    background-image: linear-gradient(134deg, #3023AE, #C86DD7);
}

.logo {
    display: inline-block;
    width: 64px;
    height: 64px;
    text-align: center;
    border-right: 1px solid rgba(0,0,0,.1);
}

.logo img {
    margin: 10px;
}

.title {
    display: inline-block;
    margin: 10px 16px;
}

@media(max-width: 768px) {
    .header {
        height: 56px;
    }

    .logo {
        width: 56px;
        height: 56px;
    }

    .logo img {
        margin: 6px;
    }

    .title {
        margin: 6px 8px;
    }

    .title img {
        height: 44px;
        max-width: 100%;
    }
}
