html, body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    height: 100%;
}

:global(#container) {
    height: 100%;
}

.frame {
    height: 100%;
    display: flex;
    flex-direction: column;
}
