html, body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    height: 100%;
}

:global(#container) {
    height: 100%;
}

.frame {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.loading {
    position: fixed;
    top: 32px;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 100;
    background: #fff;
    padding: 8px 16px;
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    border-radius: 2px;
    opacity: 0;
    transition: opacity .5s ease-in;
    pointer-events: none;
}

.loadingVisible {
    composes: loading;

    opacity: 1;
}

@media(max-width: 768px) {
    .frame {
        height: auto;
        display: block;
    }

    html, body, :global(#container) {
        height: auto;
    }

    .loading {
        top: 24px;
    }
}
