.select {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.select:after {
    content: '';
    position: absolute;
    top: -9px;
    left: 50%;
    margin-left: -4px;
    border-style: solid;
    border-width: 0 4px 6px;
    border-color: transparent transparent #ccc transparent;
}
