.sidebar {
    width: 64px;
    border-right: 1px solid #eee;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    user-select: none;
}

.sections {
    flex: 1;
}

.marker {
    position: absolute;
    left: 0;
    top: 0;
    height: 64px;
    width: 4px;
    background-color: #C56CD6;
    z-index: 1;

    transition: transform .3s cubic-bezier(0.5, 0.01, 0.2, 1);
}

.button {
    font: inherit;
    width: 64px;
    height: 64px;
    background: #ffffff;
    border: none;
    border-radius: 0;
    outline: none;
    padding: 0;
    text-align: center;
    line-height: 64px;
    cursor: pointer;
    transition: background .3s ease;
    outline: none;
}

.button:hover {
    background: #f9f9f9;
}

.button img {
    vertical-align: middle;
}
