.section {
    position: relative;
}

.header {
    background: #f9f9f9;
    line-height: 64px;
    padding: 0 16px;
    font-size: 16px;
}

.content {
    padding: 16px;
    overflow-x: auto;
}

.anchor {
    width: 0; height: 0;
    visibility: hidden;
    position: absolute;
}

.action {
    composes: input from '../../Inputs/Inputs.module.css';

    float: right;
    font-size: 1rem;
    margin: 12px 0 12px 4px;
    height: 40px;
    line-height: 40px;
    padding: 0 8px;
    background: none;
    border-radius: 0;
    cursor: pointer;
    transition: all .3s ease;
}

.action:hover, .action:focus {
    box-shadow: 0 0 4px 2px #ddd;
    background: #fff;
    outline: none;
}

.action:focus {
    box-shadow: 0 0 4px 2px rgba(197, 108, 214, 0.5)
}

@media(max-width: 768px) {
    .anchor {
        margin-top: -48px;
    }
}
