.component {
    display: flex;
    margin-bottom: 4px;
    width: 326px;
}

.illusions {
    line-height: 16px;
    align-self: center;
}

.illusions > span {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    background: #ff80fb;
    border: 2px solid #a252f4;
    margin-right: 8px;
}

.skills > :external(skill from '../../../../Icon.module.css'):nth-child(5) {
    margin-left: 4px;
    border-left: 1px solid #000;
}
