.input {
    composes: input from '../../Inputs/Inputs.css';

    padding: 12px 48px 12px 12px;
    width: 100%;
    border: 1px solid #eee;
    box-sizing: border-box;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text {
    margin: 0 0 16px 0;
}

.inputWrapper {
    position: relative;
}

.copyButton {
    composes: input from '../../Inputs/Inputs.css';

    position: absolute;
    right: 3px;
    top: 3px;
    bottom: 3px;
    background: #fff;
    transition: background-color .3s ease;
    cursor: pointer;
    width: 40px;
    padding: 0;
}

.copyButton img {
    vertical-align: middle;
    width: 22px;
    height: 22px;
}

.copyButton:hover {
    background: #eee;
}
