.select {
    border: none;
    border-radius: 0;
    background: none;
    font: inherit;

    border-bottom: 1px solid #eee;
    padding: 4px 20px 4px 0;
    margin: 0 8px 0 0;
    min-width: 125px;
    appearance: none;
    position: relative;
}
